.wrapper{
    padding: 100px 0;
    width: 60%;
    margin: auto;
}

/**************
Responsive
**************/
@media screen and (max-width: 480px) {

    /*　Smartphone portrait */
    .wrapper {
      padding: 60px 0 100px;
      width: 85%;
    }
  }
  
  
  @media screen and (min-width: 480px) and (max-width: 896px) {
    /*　for iPad portrait and Smartphone landscape 　*/
  }