.wrapper {
  padding: 20px 60px;
  color: #3d405b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.title {
  font-weight: 700;
  text-decoration: none;
  color: #3d405b;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
}

.link {
  text-decoration: none;
  color: #3d405b;
}

.link:hover {
  color: #d49c6b;
}

.coffee img{
  height: 34px;
}

/**************
Responsive
**************/
@media screen and (max-width: 480px) {

  /*　Smartphone portrait */
  .wrapper {
    padding: 20px;
  }
  .link {
    display: none;
  }
}


@media screen and (min-width: 480px) and (max-width: 896px) {
  /*　for iPad portrait and Smartphone landscape 　*/
  .wrapper {
    padding: 20px;
  }
}