.wrapper{
    width: 100%;
}

.title{
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
}

.highlight{
    font-style: italic;
    color:#e07a5f;
    text-decoration: underline;
}

.text{
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 50px;
}

.text .highlight{
    font-weight:bold;
    text-decoration: none;
    text-transform: uppercase;
}

.button{
    padding: 20px;
    font-size: 24px;
    width: 250px;
    margin: auto;
    border: #e07a5f;
    border-radius: 14px;
    background-color: #e07a5f;
    color: white;
  }

.button:hover{
    background-color: #3d405b;
    color: white;
}

.warning{
    font-size: 14px;
    font-weight: 600;
}